<!DOCTYPE html>
<html lang="en">

<head>
    
    
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9N8EN860VC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9N8EN860VC');
</script>
    
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>sujay_adkesar</title>
    <link rel="icon" href="images/Screenshot 2022-08-11 130656.png">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arbutus+Slab">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bakbak+One&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Berkshire+Swash&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Animated-Text-Background.css">
    <link rel="stylesheet" href="assets/css/figlooCAROUSEL.css">
    <link rel="stylesheet" href="assets/css/Hero-Carousel.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="assets/css/Navbar-Right-Links.css">
    <link rel="stylesheet" href="assets/css/Responsive-UI-Card-02.css">
    <link rel="stylesheet" href="assets/css/Slider_Carousel_webalgustocom-1.css">
    <link rel="stylesheet" href="assets/css/Slider_Carousel_webalgustocom-2.css">
    <link rel="stylesheet" href="assets/css/Slider_Carousel_webalgustocom.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
    <link rel="stylesheet" href="../aaaaaaaaaaaaaaaaaaaaaaa/all-directories/assets-updated-train/css/FOOTERCSS.css">
    <link rel="stylesheet" href="asset-about/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="asset-about/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="asset-about/css/Profile-with-data-and-skills.css">
    <link rel="stylesheet" href="asset-about/css/styles.css">
    <link rel="stylesheet" href="../aaaaaaaaaaaaaaaaaaaaaaa/all-directories/assets-updated-train/css/Navbar-Centered-Links-icons.css">

    <link rel="stylesheet" href="css/base.css">  
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/vendor.css">
    
    <link rel="stylesheet" href="assets/css/best-carousel-slide.css">

    <link rel="stylesheet" href="assets-updated-buttons/css/Button-Ribbon-Effect.css">

    <link rel="stylesheet" href="assets-books/css/FOOTERCSS.css">

    
 
    <!-- script
    ================================================== -->   
     <script src="js/modernizr.js"></script>
     <script src="js/pace.min.js"></script>


</head>

<body>
     
    
    <nav class="navbar navbar-light navbar-expand-md py-3" >
        <div class="container" >
            <a class="navbar-brand d-flex align-items-center" href="#home">
               <img src="images/Screenshot 2022-08-11 130656.png" alt="logo" height="50px" width="50px">
            </a>
                    <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-3"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-3">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link active" href="#landme" style="color:cyan;">Training-platforms</a></li>
                    <li class="nav-item"><a class="nav-link" href="#landme" style="color:cyan;">Books</a></li>
                    <li class="nav-item"><a class="nav-link" href="#landme" style="color:cyan;">General Resources</a></li>
                    <li class="nav-item"><a class="nav-link" href="./all-directories/portfolio-project-export/index.html" style="color:cyan;">Projects</a></li>
                    <!-- </ul><button class="btn btn-warning" type="button">Home</button> -->
            </div>
        </div>
    </nav>







<!-- intro section
   ================================================== -->
   <section id="intro">   

    <div class="intro-overlay"></div>	

    <div class="intro-content">
        <div class="row">

            <div class="col-twelve">

                <h5>Hi There 👋</h5>
                <h1>I'm Sujay Adkesar</h1>

                <p class="intro-position">
                    <span>Hobby Front-end Dev</span>
                    <span>A formal Cybersecurity Student💻</span> 
                </p>

                <a class="button stroke smoothscroll" href="#about" title="">More About Me</a>

            </div>  
            
        </div>   		 		
    </div> <!-- /intro-content --> 

    <ul class="intro-social">        
      <li><a href="https://www.github.com/sujayadkesar"><i class="fa fa-github"></i></a></li>
      <li><a href="https://linkedin.com/in/sujay_adkesar"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="https://twitter.com/SUJAY_ADKESAR"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://instagram.com/sujay_adkesar"><i class="fa fa-instagram"></i></a></li>
   </ul> <!-- /intro-social -->      	

</section> <!-- /intro -->












    <section style="padding: 0px;" id="landme">
        <div class="carousel slide" data-bs-ride="carousel" id="carousel-1" style="height: 600px;">
            <div class="carousel-inner h-100">
                <div class="carousel-item active h-100" style="color: rgb(255,255,255);"><img class="w-100 d-block position-absolute h-100 fit-cover" src="assets/img/istockphoto-1344939844-170667a.jpg" alt="Slide Image" style="z-index: -1;" id="train">
                    <div class="container d-flex flex-column justify-content-center h-100">
                        <div class="row">
                            <div class="col-md-6 col-xl-4 offset-md-2">
                                <div style="max-width: 350px;">
                                    <h1 class="text-uppercase fw-bold" id="traintittle" style="font-family: 'Bakbak One', serif;font-size: 62.5px; color: white;">Training&nbsp; platform</h1>
                                    <p class="my-3"  style="color: rgb(255,255,255);">A training platform can revolutionise the way education organizations communicate with their students.<br></p>
                                    <a class="btn btn-outline-primary btn-lg" role="button" data-bss-hover-animate="shake" href="all-directories/updated-train.html" style="border-width: 2.0px;box-shadow: 0px 0px 20px var(--bs-blue); color:white; ">Training platforms</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item h-100">
                  <img  class="w-100 d-block position-absolute h-100 fit-cover" src="assets/img/aaron-burden-9zsHNt5OpqE-unsplash.jpg" alt="Slide Image" style="z-index: -1;">
                    <div class="container d-flex flex-column justify-content-center h-100">
                        <div class="row">
                            <div class="col-md-6 col-xl-4 offset-md-2" style=" text-align: center; padding-bottom: 20px;">
                              <h1>
                              <a  class="btn btn-outline-primary btn-lg active text-center"  role="button" href="all-directories/books-html.html" style="transform: scale(1) skew(0deg);  width: 330px;  border-width:2px">Read more Learn more</a>
                              </h1>
                              <!-- <h1 class="text-uppercase fw-bold" style="font-family:'Bakbak One', serif; color: white; font-size:30px; font-weight:bold;" id="book" >Read more Learn more</h1> -->
                              <!-- <div style="max-width: 350px;padding-top: 0px;padding-left: 120px;padding-bottom: 260px;"> -->
                                    <!-- <h1 class="text-uppercase fw-bold" style="color: rgb(255,255,255);font-family: 'Bakbak One', serif;font-size: 26.5px;padding-left: 0px;padding-bottom: 0;padding-right:90px;padding-top: 0px;font-weight: bold;" id="book">read more learn more</h1> -->
                                   <!-- <h1>Read more Learn more</h1> -->
                                    <!-- <a class="btn btn-outline-primary btn-lg active text-center" role="button" href="books" style="transform: rotate(0deg) scale(1) skew(0deg);padding-left: 122px;border-width: 2px;padding-right: 90px;padding-bottom: 12.8px;">Books</a> -->
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item h-100"><img id="gn" class="w-100 d-block position-absolute h-100 fit-cover" src="assets/img/gery-wibowo-Eti6ph51H4A-unsplash.jpg" alt="Slide Image" style="z-index: -1;">
                    <div class="container d-flex flex-column justify-content-center h-100">
                        <div class="row">
                            <div class="col-md-6 col-xl-4 offset-md-2">
                                <div style="max-width: 350px;">
                                    <h1 class="text-uppercase fw-bold" style="color: rgb(255,255,255);text-align: left;font-family: 'Bakbak One', serif;font-size: 59.5px;" id="gn">General Resources</h1>
                                    <p class="my-3" style="color: rgb(255,255,255);">It's not about your resources it's about your resourcefullness!!</p><a class="btn btn-outline-primary btn-lg" role="button" data-bss-hover-animate="shake" href="all-directories/general-resource-html.html" style="border-width: 2.0px;box-shadow: 0px 0px 20px var(--bs-blue); color: white; ">Click here</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
            <ol class="carousel-indicators">
                <li data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
                <li data-bs-target="#carousel-1" data-bs-slide-to="2"></li>
            </ol>
        </div>
    </section>


   <section style="           background: #0F2027;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
   
   
   padding:10px; display:flex; align-items: center; justify-content: center;" >
      <div class="m-5">
        <a href="all-directories/updated-train.html">
          <button class="btn btn-warning ribbon" type="button" style="border-radius:50px;">Training Platforms</button>
        </a>
        
        <a href="all-directories/books-html.html">
          <button class="btn btn-danger ribbon" type="button">Recommended Books</button>
        </a>
        
        <a href="all-directories/general-resource-html.html">
          <button class="btn btn-info ribbon" type="button" style="border-radius:50px;">General Resources</button>
        </a>
<<<<<<< HEAD

        <a href="all-directories/updated-train.html">
            <button class="btn btn-warning ribbon" type="button" style="border-radius:50px;">Projects</button>
          </a>
      
=======
>>>>>>> 13de38162ca55c8c80882c9f21cb64c489de66c0
      </div>
  </section>

<!-- about me section -->

<section style="padding-top: 100px; padding-bottom: 100px; background-color:white;" id="about">
    <div class="container">
        <div class="main-body">
        
              <!-- Breadcrumb -->
              <nav aria-label="breadcrumb" class="main-breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                  <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
                  <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                </ol>
              </nav>
              <!-- /Breadcrumb -->
        
              <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">
                  
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                        <div class="mt-3">
                          <h4>SUJAY ADKESAR</h4>
                          <p class="text-secondary mb-1 font-weight-bold">Front-End Developer</p>
                          <p class="text-muted font-size-sm font-weight-bold ">A formal Cybersecurity student</p>
                          <p>
                            Thirsty to learn and explore new technologies and share the knowledge back to the community✨
                          </p>
                
                           <a href="https://instagram.com/sujay_adkesar"><button class="btn btn-warning">Follow</button></a>
                          <a href="https://www.instagram.com/sujay_adkesar/"><button class="btn btn-outline-primary">Message</button></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card mt-3">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"><a href="#" style="color:red;">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline">
                            <circle cx="12" cy="12" r="10"></circle>
                            <line x1="2" y1="12" x2="22" y2="12"></line>
                            <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
                          </svg>Website</h6></a>
                        
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"><a href="https://www.github.com/sujayadkesar">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Github</h6></a>
                        
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"><a href="https://twitter.com/SUJAY_ADKESAR"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>Twitter</h6></a>
                        
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"><a href="https://instagram.com/sujay_adkesar"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h6></a>
                        
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h6 class="mb-0"><a href="https://linkedin.com/in/sujay_adkesar">
                          
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                            <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                          </svg>
                          
                          &nbsp;Linkedin</h6></a>
                        
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="card mb-3">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Full Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          SUJAY G ADKESAR
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          sujayadkesar2002@gmail.com
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Mobile</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          8762406259
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Address</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          Yellapur Karnataka
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
    
    
    
    
    
    
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="d-flex align-items-center mb-3">My Skills XP!</h5>
                          <p>Computer Networking</p>
                          <div class="progress mb-3" style="height: 5px">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <p>OWASP TOP-10</p>
                          <div class="progress mb-3" style="height: 5px">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <p>HTML5, CSS3, JAVASCRIPT, BOOTSTRAP</p>
                          <div class="progress mb-3" style="height: 5px">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <p>Vulnerability assesment</p>
                          <div class="progress mb-3" style="height: 5px">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <p>Python</p>
                          <div class="progress" style="height: 5px">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <p>Try-Hack-me , Hack-The-Box</p>
                          <div class="progress" style="height: 5px">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 56%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
</section>



<<<<<<< HEAD
<footer id="footerpad">
=======
<!-- <footer id="footerpad">
>>>>>>> 13de38162ca55c8c80882c9f21cb64c489de66c0
  <div class="container">
      <div class="row">
          <div class="col-md-6 col-lg-8 mx-auto">
              <ul class="list-inline text-center">
                  <li class="list-inline-item"><a href="https://github.com/sujayadkesar"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-github fa-stack-1x fa-inverse"></i></span></a></li>
                  <li class="list-inline-item"><a href="https://twitter.com/SUJAY_ADKESAR"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a></li>
                  <li class="list-inline-item"><a href="https://instagram.com/sujay_adkesar"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-instagram fa-stack-1x fa-inverse"></i></span></a></li>
                  <li class="list-inline-item"><a href="https://linkedin.com/in/sujay_adkesar"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-linkedin fa-stack-1x fa-inverse"></i></span></a></li>
              </ul>
              <p class="copyright text-muted text-center">Web Design by SUJAY_ADKESAR</p>
          </div>
      </div>
  </div>
<<<<<<< HEAD
</footer>
=======
</footer> -->
                  
                  
                  
                   <footer id="footerpad">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-8 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item"><a href="https://github.com/sujayadkesar"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-github fa-stack-1x fa-inverse"></i></span></a></li>
                        <li class="list-inline-item"><a href="https://twitter.com/SUJAY_ADKESAR"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a></li>
                        <li class="list-inline-item"><a href="https://instagram.com/sujay_adkesar"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-instagram fa-stack-1x fa-inverse"></i></span></a></li>
                        <li class="list-inline-item"><a href="https://linkedin.com/in/sujay_adkesar"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-linkedin fa-stack-1x fa-inverse"></i></span></a></li>
                    </ul>
                    <p class="copyright text-muted text-center">Web Design by SUJAY_ADKESAR</p>
                </div>
            </div>
        </div>
      </footer>
>>>>>>> 13de38162ca55c8c80882c9f21cb64c489de66c0



<style>

  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 10px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }
  </style>

  
  <a onclick="topFunction()" id="myBtn" title="go to top">Bak to top</a>
  
  
  <script>
  //Get the button
  var mybutton = document.getElementById("myBtn");
  
  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function() {scrollFunction()};
  
  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      mybutton.style.display = "block";
    } else {
      mybutton.style.display = "none";
    }
  }
  
  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
  </script>




<script src="assets-updated-buttons/js/jquery.min.js"></script>
<script src="assets-updated-buttons/bootstrap/js/bootstrap.min.js"></script>
<script src="assets-updated-buttons/js/bs-init.js"></script>
<script src="assets-updated-buttons/js/Animated-Text-Background.js"></script>
<script src="assets-updated-buttons/js/bold-and-bright.js"></script>
<script src="assets-updated-buttons/js/Slider_Carousel_webalgustocom.js"></script>







    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/Animated-Text-Background.js"></script>
    <script src="assets/js/bold-and-bright.js"></script>
    <script src="assets/js/Slider_Carousel_webalgustocom.js"></script>
</body>

</html>
